<section id='Settings'>
  <article class='container'>
    <h1>Settings</h1>
    <h3>Login:</h3><input id='login' v-model='login' placeholder='Enter your login...'/><br>
    <h3>Email:</h3><input id='email' v-model='email' type='email' placeholder='Enter your email...'/><br>
    <h3>Old password:</h3><input id='password' v-model='password' type='password' placeholder='Enter your password...'/><br>
    <h3>New password:</h3><input id='newPassword' v-model='newPassword' type='password' placeholder='Enter your password...'/><br>
    <button id='save'>Save</button><br>
    <router-link to='/'><- Go back to home page</router-link>
  </article>
</section>
