.form {
  width: 60%;
  margin: 0 auto;
}
.texts {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.label {
  
}
.text-label {

}
.text-input {
  flex: 1;
}
.tags {

}
.checkbox-label {

}
.checkbox {

}
.button {

}
.input-error {
  border-color: red;
  border-width: 2px;
  border-style: solid;
}