<section id='AddProduct' class='outer-container'>
  <article class='container'>
    <h1>Create new product</h1>
    <form class="form" @submit="createProduct">
      <div class="texts">
        <h3 for="product-name">Name</h3>
        <input id="product-name" v-model="product.name" placeholder='Product name...' class="text-input" ref="name"><br>
        <h3 for="product-description"><br>Description</h3><br>
        <textarea
          id="product-description"
          rows='5'
          v-model="product.description"
          placeholder='Product description...'
          class="text-input"
          ref="description"></textarea>
      </div>
      <div class="numbers">
        <label for="product-price">Price</label>
        <input id="product-price" v-model="product.price" type="number" class="text-input" min="0.01" max="10000" step="0.01"ref="price">
        <label for="product-quantity">Quantity</label>
        <input id="product-quantity" v-model="product.quantity" type="number" class="text-input" min="1" max="10000" step="1" ref="quantity">
      </div>
      <div class="tags" ref="category">
        <div v-for="tag in tags" :key="tag">
          <label :for="'product-tag-' + tag" class="label checkbox-label">{{ tag }}</label>
          <input :id="'product-tag-' + tag" v-model="product.category" type="checkbox" :value="tag" class="checkbox">
        </div>
      </div>
      <button class="button">Create</button>
    </form>
  </article>
</section>