<section id='Login'>
  <div class='container'>
    <form class='login-form' @submit='loginAction'>
      <h1>Welcome to Mongoose</h1>
      <h3 class=''>Login</h3>
      <input required type='text' id='login' v-model='login' placeholder='Type login...'/><br>
      <h3 class=''>Password</h3>
      <input required type='password' id='password' v-model='password' placeholder='Type password...'/><br>
      <button type="submit">Sign in</button>
      <span class='float-left'><router-link to='register'>Don't have an account?</router-link></span>
      <span class='float-right'><router-link to='forgot-password'>Forgot password</router-link></span>
    </form>
  </div>
</section>
