<section id='Login'>
    <div class='container'>
      <form class='login-form'>
        <h1>Welcome to Mongoose shop!</h1>
        <h3 class=''>Name</h3>
        <input type='text' id='name' placeholder='Type name or email...'/><br>
        <h3 class=''>Email</h3>
        <input type='password' id='password' placeholder='Type password...'/><br>
        <p>Remember password?  <input type='checkbox' id='isRemembered' /></p><br>
        <span class='float-left'><a href=''>Don't have an account?</a></span>
        <span class='float-right'><a href=''>Forgot password</a></span>
      </form>
    </div>
  </section>
