#ForgotPassword {
  width: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  text-align: center;

  .container {
    display: inline-block;

    h3 {
      padding: 1em 2em 0 0;
    }

    input {
      height: 1.8em;
      margin: 0 1em;
      padding: 0.2em 0.5em;
      border-radius: 3%;
      border: 0px;
    }
  
    button {
      padding: 0.5em 1em;
      border-radius: 8%;
      cursor: pointer;
    }
  }
}