#Register {
  width: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  text-align: center;

  .container {
    display: inline-block;

    h1 {
      font-size: 2.4em;
      margin: 0.6em 0 1.2em 0;
    }

    h3 {
      display: inline;
      padding: 1em 2em 0 0;
    }

    input {
      height: 1.8em;
      margin: 1em 1em 0.3em;
      padding: 0.2em 0.5em;
      border-radius: 3%;
      border: 0px;
    }

    input:invalid {
      border: 1px solid red;
    }
  
    button {
      margin: 2em 0;
      padding: 0.5em 1em;
      border-radius: 8%;
      cursor: pointer;
    }
  }
}