<section id='Register'>
  <article class='container'>
    <form class='register-form' @submit='registerAction'>
        <h1 onclick="logSth()">Register</h1>
        <h3>Login:</h3><input required id='login' placeholder='Enter your login...'/><br>
        <h3>Email:</h3><input type='email' required id='email' placeholder='Enter your email...'/><br>
        <h3>Password:</h3><input required id='password' type='password' placeholder='Enter your password...'/><br>
        <button id='send'>Send</button><br>
        <router-link to='login'><- Go back to login page</router-link>
    </form>
  </article>
</section>
