#ProductList {
  width: 100%;
}

#search-term {
  width: 200px;
  height: 20px;
}

.price-option {
  width: 40px;
  height: 20px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}