#ProductList {
  width: 100%;
  font-size: 1em;

  input {
    height: 1.8em;
    margin: 0 1em;
    padding: 0.2em;
  }

  #search-term {
    width: 30%;
  }

  .search_price_envoirement {
    margin: 1em 0;
  }
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}