#ProductList {
  width: 100%;
  font-size: 1em;

  input {
    height: 1.8em;
    margin: 0 1em;
    padding: 0.2em 0.5em;
    border-radius: 3%;
    border: 0px;
  }

  #search-term {
    width: 30%;
  }

  .search_price_envoirement {
    margin: 1em 0;
  }
}

button {
  padding: 0.5em 1em;
  border-radius: 8%;
  cursor: pointer;
}